*{
	font-family: '微軟正黑體';
	line-height: 1.7;
}

.nav{
	width: 80%;
	left: 10%;
	background-color: #888888bb;
	color: #fff;
	border-radius: 30px;
	top: 10px;
}



.nutu{
	background: url("../image/北科地圖.jpg") center center no-repeat fixed;
	background-size: cover;
	height: 900px;
	opacity: .8;
}
.container{
	max-width: 1600px;
	width: 100%;
}

a,
a:hover{
	text-decoration: none;
}
.cs{
	cursor: pointer;
}
.ts3{
	transition: .3s ease-in-out;
}
.ac{
	display: flex;
	align-items: center;
	justify-content: center;
}
.h1{
	font-size: 5rem;
	color: #CC3F41;
}
.h1:hover{
	color: #CC3F41;
}
.no{
	margin-top: 20px;
	background-color: #fff;
	border: solid 2px #414141;
	opacity: .8;
	backdrop-filter:blur(5px);
	border-radius: 30px;
	display: inline-block;
	padding: 5px 15px;
}
.no:hover{
	transform: scale(1.3);
}
.we{
	margin-top: 270px;
	background-color: #fff;
	border: solid 2px #414141;
	opacity: .8;
	backdrop-filter:blur(5px);
	border-radius: 30px;
	display: inline-block;
	padding: 5px 15px;
	margin-left: 120px;
}
.we:hover{
	transform: scale(1.3);
}
.ea{
	margin-top: 270px;
	background-color: #fff;
	border: solid 2px #414141;
	opacity: .8;
	backdrop-filter:blur(5px);
	border-radius: 30px;
	display: inline-block;
	padding: 5px 15px;
}
.ea:hover{
	transform: scale(1.3);
}
.so{
	margin-top: 150px;
	background-color: #fff;
	border: solid 2px #414141;
	opacity: .8;
	backdrop-filter:blur(5px);
	border-radius: 30px;
	display: inline-block;
	padding: 5px 15px;
}
.so:hover{
	transform: scale(1.3);
}



/*=====================================modal=====================================*/

#n1 .modal-dialog{
	max-width: 1400px;
}
#n2 .modal-dialog{
	max-width: 1500px;
}
.sc{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #fff;
	color: #414141;
	font-size: 2rem;
	opacity: .8;
}
.img{
	border-radius: 30px;
	border: solid 2px #f2594b;
}
.nt{
	font-size: 2rem;
	margin-top: 20px;
}
.tet{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	width: 95%;
	height: 78%;
	margin-left: 13px;
	border-radius: 20px;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .5s ease-in-out;
	transform: scale(0);
}
.item:hover .tet{
	transform: scale(1);
}
.nb{
	font-size: 2rem;
}
.nbn{
	font-weight: bold;
	color: #f2594b;
	border: solid 3px #f2594b;
	padding: 15px;
	text-align: center;
	font-size: 1.5rem;
}
.nbn:hover{
	background-color: #f2594b;
	color: #fff;
}
.tw{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0 7rem;
}
.us{
	font-size: 1.5rem;
	font-weight: 500;
}
.tt{
	font-size: 1.2rem;
	border: solid 1px #000;
	border-radius: 30px;
	display: inline-block;
	padding: 5px 10px;
}

